/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,800;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

/* Top Players Style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
    margin: 5px 10px;
}